@model Biodata

<div class="table-responsive card shadow">
    <table id="riwayatPekerjaan" class=" table text-center table-sm align-middle ">
        <thead class="">
            <tr>
                <th style="width: 150px;">
                    Nama Perusahaan
                </th>
                <th style="width: 150px;">
                    Posisi Terakhir
                </th>
                <th style="width: 150px;">
                    Pendapatan Terakhir
                </th>
                <th style="width: 150px;">
                    Tahun
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model is null)
            {

            }
            else
            {
                @foreach (var biodata in Model.RiwayatPekerjaan)
                {
                    <tr>
                        <td>@biodata.NamaPerusahaan</td>
                        <td>@biodata.PosisiTerakhir</td>
                        <td>@biodata.PendapatanTerakhir</td>
                        <td>@biodata.Tahun</td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
