@model List<BiodataDTO>

@{
	ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Admin"))
{
	<!--Toast-->
	<div id="genereate50DataToast">
		<partial name="_InfoToast" />
	</div>

	<div class="mb-3 d-flex justify-content-end me-2 pe-1">
		<button id="btnGenerate" onclick="GenerateData()" class="row btn btn-info text-white mx-3">
			Generate 50 FakeData
		</button>
	</div>

	<div id="biodataListPartial">
		<partial name="_BiodataListPartial" model="@Model" />
	</div>
}

@section Scripts {
	<script>
		function GenerateData() {
			debugger
			$.ajax({
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				url: '@Url.Action("GenerateData", "Biodata")',
				data: {},
				success: function (r) {
					$('.toast').toast('show');
					DisplayData();
					debugger
				},
				error: function (response) {
					debugger
					alert('Submit Data Failed');

				}
			})
		}

		function DisplayData() {
			$.ajax({
				type: 'GET',
				url: '@Url.Action("DisplayData", "Biodata")',
				data: {},
				success: function (data) {
					$('#biodataListPartial').html(data)
				},
				error: function (response) {
					alert('Display data failed');

				}
			})
		}
	</script>
}