@model List<BiodataDTO>

@{
	ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Admin"))
{
	<!--Toast-->
	<div id="genereate50DataToast">
		<partial name="_InfoToast" />
	</div>

	<div class="mb-3 d-flex justify-content-end me-2 pe-1">
		<button id="btnGenerate" onclick="GenerateData()" class="row btn btn-info text-white mx-3">
			Generate 50 FakeData
		</button>
		<button class="btn btn-danger" onclick="DeleteAllFakeData()">
			Delete All FakeData <i class="bi bi-trash-fill"></i>
		</button>
	</div>

	<div id="biodataListPartial">
		<partial name="_BiodataListPartial" model="@Model" />
	</div>
}

@section Scripts {
	<script>
		function GenerateData() {
			debugger
			$.ajax({
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				url: '@Url.Action("GenerateData", "Biodata")',
				data: {},
				success: function (r) {
					$('.toast').toast('show');
					DisplayData();
					debugger
				},
				error: function (response) {
					debugger
					alert('Submit Data Failed');

				}
			})
		}

		function DisplayData() {
			$.ajax({
				type: 'GET',
				url: '@Url.Action("DisplayData", "Biodata")',
				data: {},
				success: function (data) {
					$('#biodataListPartial').html(data)
				},
				error: function (response) {
					alert('Display data failed');

				}
			})
		}

		function DeleteAllFakeData() {
			$.ajax({
				type: 'DELETE',
				url: '@Url.Action("DeleteAllFakeData", "Biodata")',
				data: {},
				success: function (data) {
					alert('Deleted ' + data + 'Row');
					DisplayData();
				},
				error: function (response) {
					alert('Delete Failed ' + response);
				}
			})
		}

		function onDelete() {

  $(this).click(function (event) {
    var url = $(this).attr('href');
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: `${url} Deleted!`,
          text: "Your file has been deleted.",
          icon: "success"
        });
      }
    });
  })
}
	</script>

	<script src="~/js/SweetAlert.js"></script>
}