@model List<BiodataDTO>

@{
	ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Admin"))
{
	<!--Toast-->
	<div id="genereate50DataToast">
		<partial name="_InfoToast" />
	</div>

	<div class="mb-3 d-flex justify-content-end me-2 pe-1">
		<button id="btnGenerate" onclick="GenerateData()" class="row btn btn-info text-white mx-3">
			Generate 50 FakeData
		</button>
		<button class="btn btn-danger" onclick="DeleteAllFakeData()">
			Delete All FakeData <i class="bi bi-trash-fill"></i>
		</button>
	</div>

	<div id="biodataListPartial">
		<partial name="_BiodataListPartial" model="@Model" />
	</div>
}

@section Scripts {
	<script src="~/js/BiodataList.js"></script>
	<script src="~/js/SweetAlert.js"></script>
}