@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="mb-5">Use this page to detail your site's privacy policy.</p>
<p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis eius amet explicabo distinctio
    officia quidem in nisi. Quia neque iure sapiente, voluptates non amet nobis nihil vitae obcaecati fugit, a, error
    laudantium cum dignissimos quo doloremque aut? Assumenda maxime quisquam fugit aperiam eius cupiditate impedit! Quia
    suscipit similique nulla non corrupti, modi velit, excepturi quos eos neque, ab sequi sed? Cumque dolor consectetur
    architecto nam harum perspiciatis, quisquam itaque earum? Praesentium error qui, quidem sunt quas vitae minima est
    repellendus officiis at neque necessitatibus quis voluptates eligendi vero porro vel excepturi fugit laboriosam
    doloribus voluptate? Obcaecati rerum officiis minima cumque consequatur nam natus ad voluptatibus facilis excepturi,
    quam veritatis, temporibus, numquam velit praesentium! Accusantium facilis ipsam natus. Ducimus maiores molestias
    dicta quaerat aspernatur accusamus totam. Aspernatur nostrum amet saepe. Eligendi iusto quam dolore maiores totam.
    Explicabo quibusdam voluptas maiores quasi. Molestias doloribus voluptatem impedit numquam deserunt saepe, beatae
    quos nobis maxime vero adipisci qui porro, iure suscipit harum modi ullam incidunt eveniet officia deleniti
    recusandae tenetur ipsum! Voluptas minima corporis similique laboriosam. Ullam, vel, non nesciunt corporis soluta,
    dolorum nulla quidem labore facere consequuntur aspernatur a ad praesentium minus numquam blanditiis porro quos
    incidunt! Maxime qui debitis mollitia libero corrupti.</p>
