@model RiwayatPelatihan

<h2>Riwayat Pelatihan</h2>

<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-controller="RiwayatPelatihan" asp-action="Update" method="post">
      <input asp-for="Id" hidden />
      <input asp-for="BiodataId" hidden />

      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group my-2">
        <label asp-for="NamaKursus" class="control-label"></label>
        <input asp-for="NamaKursus" class="form-control" />
        <span asp-validation-for="NamaKursus" class="text-danger"></span>
      </div>
      <div class="form-group my-2">
        <input type="checkbox" asp-for="SertifikatAda" class="form-check-input" />
        <label asp-for="SertifikatAda" class="form-check-label"></label>
        <span asp-validation-for="SertifikatAda" class="text-danger"></span>
      </div>
      <div class="form-group my-2">
        <label asp-for="Tahun" class="control-label"></label>
        <input asp-for="Tahun" class="form-control" />
        <span asp-validation-for="Tahun" class="text-danger"></span>
      </div>
      <div class="form-group my-3">
        <input type="submit" value="Update" class="btn btn-outline-dark" />
      </div>
    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}