@model List<BiodataDTO>

@{
	ViewData["Title"] = "Home Page";
}

<!--Toast-->
<div id="genereate50DataToast">
	<partial name="_InfoToast" />
</div>
<div class=" d-lg-flex justify-content-center justify-content-md-between">

	<div class="d-lg-flex mb-2">

		<form class="d-lg-flex text-center" asp-action="Index" method="get">
			<div class="">
				<input class="form-control" type="text" name="nama" placeholder="Nama" value="@ViewData["Biodata.Nama"]">
			</div>
			<div class="d-lg-flex">
				<input class="form-control" type="text" name="posisiDilamar" placeholder="Posisi Dilamar"
					value="@ViewData["Biodata.PosisiDilamar"]">
			</div>
			<input class="col-12 col-lg-auto btn btn-outline-info text-hover-white" type="submit" value="Search">
		</form>
	</div>


	<div class=" text-center">
		<button id="btnGenerate" onclick="GenerateData()" class="btn btn-info text-white mx-3">
			Generate 50 FakeData
		</button>
		<button class="btn btn-danger" onclick="DeleteAllFakeData()">
			Delete All FakeData <i class="bi bi-trash-fill"></i>
		</button>
	</div>

</div>

<div id="biodataListPartial">
	<partial name="_BiodataListPartial" model="@Model" />
</div>

@section Scripts {
	<script src="~/js/BiodataList.js"></script>
	<script src="~/js/SweetAlert.js"></script>
}