@model PendidikanTerakhir

<h2>Pendidikan Terakhir</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="PendidikanTerakhir" asp-action="Create" asp-route-biodataId="" method="post">
            <input asp-for="Id" hidden />
            <input asp-for="BiodataId" hidden />

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="JenjangPendidikanTerakhir" class="control-label"></label>
                <input asp-for="JenjangPendidikanTerakhir" class="form-control" />
                <span asp-validation-for="JenjangPendidikanTerakhir" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="NamaInstitusiAkademik" class="control-label"></label>
                <input asp-for="NamaInstitusiAkademik" class="form-control" />
                <span asp-validation-for="NamaInstitusiAkademik" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Jurusan" class="control-label"></label>
                <input asp-for="Jurusan" class="form-control" />
                <span asp-validation-for="Jurusan" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="TahunLulus" class="control-label"></label>
                <input type="date" asp-for="TahunLulus" class="form-control" />
                <span asp-validation-for="TahunLulus" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="IPK" class="control-label"></label>
                <input type="number" step="0.01" asp-for="IPK" class="form-control" />
                <span asp-validation-for="IPK" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
