html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hover-gray:hover {
  color: #242936;
  color: #1f2430;
  color: #1a1f29;
}

a.hover-black:hover {
  color: black !important;
}

.hover-black:hover {
  color: black !important;
}

button.hover-white:hover {
  background-color: white !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-hover-white:hover {
  color: white !important;
}
