<div aria-live="polite" aria-atomic="true" class=" position-relative">
  <div class=" position-absolute translate-middle top-0 start-50">
    <div class="toast bg-info text-white" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-info">
        <i class="bi bi-check"></i>
        <strong class="me-auto text-white">Hello</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        50 Record is Submited
      </div>
    </div>
  </div>
</div>